body{
    background: #333;
    color:black;
    font-family: 'Merriweather Sans', sans-serif;
}
a {
    color: rgb(199, 15, 24);
}
strong{
    color:#333;
}

#main{
    margin: -70px 0px 0px 0px;
    background: rgb(220, 238, 238);
    padding: 15px;
    border: 0px solid;
    border-radius: 15px;
    padding: 0px 0px -50px 0px;
    z-index: 2;
}


#title-description{
    color: #333;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    padding: 0px 0px 20px 0px;
}


#img-div{
    margin: -5px;
    width:100%;
    border: 5px solid #333;
    border-radius: 5px;

    background: #333;
    color:whitesmoke;

    text-align: center;
}
#image{
    display:block;
    margin: auto;
    max-width: 100%;

    height:auto;
}

#img-caption{
    padding: 10px;
}

#tribute-info{
    border-radius: 5px;
    padding: 40px 0px 40px 0px;
}
#tribute-info li{
    padding:15px;
}
#tribute-info h3{
    font-family: "Karla";
    padding-left: 30px;
}
#tribute-quote{
    font-family: "Karla", sans-serif;
    font-style: italic;
    border: 1px solid #333;
    padding: 20px;

    border-radius: 5px;
}
#tribute-quote:hover{
    border-radius: 17px;
    border: 2px solid #333;
}
#tribute-link{
    font-family: "Karla";
    color:blue;
}

#carl-image{
    display:block;
    margin: auto;
    max-width: 100%;

    height:auto;
}

footer{
    color: white;
    text-align: center;
}
